#!/bin/bash
# DB backup script

export PGPASSWORD="{{ mw_db_password }}
S3_PATH="s3://ya-prac-grishin2/backups/postgresql/"
ENDPOINT="--endpoint-url https://storage.yandexcloud.net"

# role check patroni
ROLE=$(curl -s http://127.0.0.1:8008/ | grep -o '"role": "replica"')
if [ -z "$ROLE" ]; then
    echo "Я лидер, начинаю бекап..."
else
    echo "Я реплика, пропускаю."
    exit 0
fi

BACKUP_DATE=$(date +%Y-%m-%d_%H-%M-%S)
BACKUP_PATH="/tmp/wikidb_${BACKUP_DATE}.sql"

# BACKUP
/usr/bin/pg_dump -h 127.0.0.1 -U "wikiuser" "wikidb" > "$BACKUP_PATH"

# PUSH in S3
if [ -s "$BACKUP_PATH" ]; then
    /usr/bin/aws s3 cp $ENDPOINT "$BACKUP_PATH" "${S3_PATH}mw-postgresql-1_${BACKUP_DATE}.sql"
    rm "$BACKUP_PATH"

    # RETENTION (Оставляем 5 последних)
    echo "--- Очистка старых бэкапов ---"
    aws s3 ls $S3_PATH $ENDPOINT | sort | head -n -5 | awk '{print $4}' | while read filename; do
        if [ -n "$filename" ]; then
            echo "Удаляю старый бэкап: $filename"
            aws s3 rm "${S3_PATH}${filename}" $ENDPOINT
        fi
    done
else
    echo "error. файл пустой"
    exit 1
fi