[defaults]
pipelining = True
host_key_checking 	= False
forks 			= 15
interpreter_python  	= auto_silent
inventory	    	= inventory/hosts.yaml 
[ssh_connection]
ssh_args = -F ./ssh_config -o ControlMaster=auto -o ControlPersist=600s
