Host bastion
    HostName 89.169.134.220
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ConnectTimeout 30
    ServerAliveInterval 15
    ServerAliveCountMax 5

Host haproxy-db
    HostName 10.10.10.17
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host mw-postgresql-1
    HostName 10.10.10.14
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host mw-postgresql-2
    HostName 10.10.10.32
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host mw-postgresql-3
    HostName 10.10.10.25
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null


Host 10.10.10.*
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
