Host bastion
    HostName 111.88.254.127
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host mw-postgresql-1
    HostName 10.10.10.19
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host mw-postgresql-2
    HostName 10.10.10.10
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
Host mw-postgresql-3
    HostName 10.10.10.21
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null


Host 10.10.10.*
    ProxyJump bastion
    User ubuntu
    IdentityFile ~/.ssh/yandex_key
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null