#!/bin/bash
# --- VARIABLES ---
BACKUP_DATE=$(date +%Y-%m-%d_%H-%M-%S)
BACKUP_PATH="/tmp/web_backup_${BACKUP_DATE}.tar.gz"

# archive
cd /var/www/
sudo tar -czf "$BACKUP_PATH" "mediawiki"

# PUSH in S3
if [ -f "$BACKUP_PATH" ]; then
    /usr/bin/aws s3 cp --endpoint-url https://storage.yandexcloud.net "$BACKUP_PATH" "s3://ya-prac-grishin2/backups/web/mw-web1_${BACKUP_DATE}.tar.gz"
    rm "$BACKUP_PATH"
    echo "Бэкап успешно отправлен в S3"
else
    echo "error. архив не создан или пуст"
    exit 1
fi